@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h3>This is login Page</h3>
<hr />


<form action="/Home/Login" method="post">
    UserName:
    <input type="text" id="email" name="email" />
    <br />
    <br />
    Password :
    <input type="password" id="password" name="password" />
    <br />
    <br />

    <input type="submit" value="Login" />
    <br/>
    <br/>
    <a asp-controller="Home" asp-action="SignUp">SignUp</a>
</form>


<p>
    @ViewData["result"]
</p>